<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ERP Cera</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Gestión</div>

  <!-- Menú dinámico -->
  <li class="nav-item" *ngFor="let item of menu; trackBy: trackById">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      [attr.data-target]="'#collapseMenu' + item.id"
      aria-expanded="false"
      [attr.aria-controls]="'collapseMenu' + item.id"
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>{{ item.titulo }}</span>
    </a>
    <div
      [id]="'collapseMenu' + item.id"
      class="collapse"
      attr.aria-labelledby="headingMenu{{ item.id }}"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Submenú:</h6>
        <a
          class="collapse-item"
          *ngFor="let sub of item.subMenu; trackBy: trackById"
          [routerLink]="sub.ruta"
        >
          {{ sub.titulo }}
        </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
  </div>
</ul>
<!-- End of Sidebar -->
